name: Keep the versions up-to-date

on:
  release:
    types: [published]

jobs:
  actions-tagger:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:         
      - uses: Actions-R-Us/actions-tagger@v2.0.3
        with:
          publish_latest_tag: true
